.main-header {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 100%;
    height: 57px;
    padding: 1rem;
    background-color: rgb(197, 196, 196);
  }
  
  .main-header > h1 {
    color: rgb(63, 81, 181);
    font-family: "Open Sans 700", sans-serif;
  }