.aka
{
  position: fixed;
  top: 90px;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #ffffff;
  color: white;
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
