.aka
{
  position: fixed;
  top: 55px;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px 0;
  box-shadow: 2px 0 5px rgba(55, 0, 255, 0.1);
  z-index: 100;
}
