
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.layout {
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 200px; 
  margin-bottom: 60px; 
  box-sizing: border-box;
  overflow: auto;  
}
