* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-indigo-500: rgb(63, 81, 181);
  --block-background: white;
  --block-border-color: rgb(235, 235, 235);
  --focus-color: rgb(63,81,181);
  --block-child-background: 3gb(236,236,236)
  --block-child-border-color: #1c2430;
}
body {
  background-color: var(--background-color);
  color: var(--text-color);

  font-family: 'Open Sans 700', sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 10px;
  border: 3px solid var(--scrollbar-thumb-border);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

.light-theme {
  --background-color: rgb(236, 236, 236);
  --block-background: white;
  --block-border-color: rgb(235, 235, 235);

  --block-text: #d8dde2;
  --text-color: #010409;

  --block-child-background: rgb(236, 236, 236);
  --block-child-background-hover: rgb(221, 221, 221);
  --block-child-border-color: #1c2430;

  /*scrollbar*/
  --scrollbar-track: #f0f0f0;
  --scrollbar-thumb: #c0c0c0;
  --scrollbar-thumb-border: #f0f0f0;
  --scrollbar-thumb-hover: #a0a0a0;
}

.dark-theme {
  --background-color: #0d1117;
  --block-background: #010409;
  --block-border-color: rgb(5, 10, 17);

  --block-text: #0d1117;
  --text-color: #dae0e6cb;

  --block-child-background: #21262d;
  --block-child-background-hover: #1e2229;
  --block-child-border-color: #30363d;

  /*scrollbar*/
  --scrollbar-track: #080a0f;
  --scrollbar-thumb: #555;
  --scrollbar-thumb-border: #121518;
  --scrollbar-thumb-hover: #777;
}

.az {
  --background-color: rgb(111, 0, 255);
  --block-background: rgb(111, 0, 255);
  --block-border-color: rgb(238, 0, 0);

  --block-text: #d8dde2;
  --text-color: #010409;

  --block-child-background: rgb(236, 236, 236);
  --block-child-background-hover: rgb(221, 221, 221);
  --block-child-border-color: #1c2430;

  /*scrollbar*/
  --scrollbar-track: #f0f0f0;
  --scrollbar-thumb: #c0c0c0;
  --scrollbar-thumb-border: #f0f0f0;
  --scrollbar-thumb-hover: #a0a0a0;
}

.dark-theme {
  --background-color: #003d99;
  --block-background: #002e7c;
  --block-border-color: rgb(0, 55, 133);

  --block-text: #0d1117;
  --text-color: #dae0e6cb;

  --block-child-background: #21262d;
  --block-child-background-hover: #1e2229;
  --block-child-border-color: #30363d;

  /*scrollbar*/
  --scrollbar-track: #080a0f;
  --scrollbar-thumb: #555;
  --scrollbar-thumb-border: #121518;
  --scrollbar-thumb-hover: #777;
}